<div class="card-columns">
    {{#events}}
    <div class="card" style="width:20rem;">
        <img class="card-img-top" src="https://source.unsplash.com/random/300x200/?event" alt="Card image top">
        <div class="card-header">{{ title }}</div>
        <div class="card-body text-secondary">                    
            <p class="card-text">{{ description }}</p>                    
            <p class="card-text"><small class="text-muted">Location: {{ location }}</small></p>
            <form action="/event/{{id}}/like" method="post">
            likes: {{ likes }}  <input type="submit" name="submit" value="like" class="btn btn-primary"/>
            </form>
        </div>
    </div>
    {{/events}}
</div>

